.card:hover {
    transform: translateY(-8px);
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

@media (max-width: 576px) {
    .d-flex.flex-column.flex-sm-row {
        flex-direction: column !important;
        text-align: center;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
}

h2 {
    font-size: 2.5rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #0d6efd;
}

.table-header {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #343a40;
}

.card {
    border-radius: 1rem;
}





.sql-box.update {
    background-color: #ceccd3;
    color:#a5040c;
}



.alert-info {
    font-weight: 600;
    font-size: 1.1rem;
}

.btn-primary {
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}



.sql-box {
    font-family: monospace;
    background: #f1f1f1;
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 5px;
    word-break: break-all;
}

